<%- include header %>
<div class="text-center page-title"> <%= title %></div>
<div class ="container">
    <% if(user) { %>
    <div class="row">
        <table class="table table-striped">
            <caption>我的笔记列表</caption>
            <thead>
            <tr>
                <th>标题</th>
                <th>标签</th>
                <th>日期</th>
            </tr>
            </thead>
            <tbody>
            <% notes.forEach(function(note)  { %>
            <tr>
                <td>
                    <a href="/detail/<%= note._id %>"><%= note.title %></a>
                </td>
                <td><%= note.tag %></td>
                <td><%= note.createTime %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
    <% } else { %>
    <div class="jumbotron">
        <h1>我的第一个Bootstrap页面</h1>
        <p>重置窗口大小，查看响应式效果</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>第一列</h3>
            <p>学的不是技术而是梦想！</p>
            <p>坚持就是胜利！</p>
        </div>
        <div class="col-sm-4">
            <h3>第二列</h3>
            <p>学的不是技术而是梦想！</p>
            <p>坚持就是胜利！</p>
        </div>
        <div class="col-sm-4">
            <h3>第三列</h3>
            <p>学的不是技术而是梦想！</p>
            <p>坚持就是胜利！</p>
        </div>
    </div>
    <% } %>
</div>
<%- include footer %>